DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.hzwrjkgaurxktpvbyzcw
DB_PORT=5432
DB_PASSWORD=@KayaRaya123
JWT_SECRET=SECRET
UNIFI_CONTROLLER_URL=https://202.10.47.180:8443
UNIFI_USERNAME=punyaarji
UNIFI_PASSWORD=arji
